.header a {
	margin: 1rem;
	font-size: 1.25rem;
	color: black;
	text-decoration: none;
}
.header a:hover {
	background: #ccc2;
}
.header a:active {
	background: #ccc7;
}
.header {
	width: 100%;
	background: cornflowerblue;
	height: 5vh;
	display: flex;
	align-items: center;
}
